data-cleaning/data/question1.csv
data-cleaning/data/question2.csv
data-cleaning/data/question4.csv
specdata/RD_501_88101_1999-0.txt
specdata/RD_501_88101_2012-0.txt
specdata/UCI HAR Dataset/
specdata/UCI HAR Datasettidy_data.txt
tidy_data.txt
specdata/
